includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
        - tests

    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*
        - node_modules/*
        - public/*

    # Configuraciones específicas para Laravel
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingCallableSignature: false
    checkExplicitMixed: false

    # Mejoras de rendimiento
    parallel:
        maximumNumberOfProcesses: 4
